---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Undergraduate / <em>Retired</em> Minecraft Gamer / Coding Amateur</p>
  <p>
    Got a bit of C++ educated from primary school, but didn't get far.<br />
    Now learning hardware at SEU, and patching up software online.<br />
    Majoring in <em>integrated circuit</em> but often <del>pushing Claude</del> to write code.
  </p>
  <p>
    <em>Stay hungry, Stay foolish.</em> <Spoiler>/* you can find nothing here */</Spoiler>
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>
      <strong>Rubik's Cube</strong>: For 3x3 Rubik's Cube, I can solve it in about 30s, and can solve other cube variants as well.
    </li>
    <li>
      <strong>Minecraft</strong> : I have been playing Minecraft for a long time, maybe beyond 10 years <del>I forgot that</del>.
      Now I'm deeply into the combination of redstone engineering and terrain building.
    </li>
    <li>
      <strong>Coding</strong> : I wanna do some minecraft modding, but I haven't started yet. 
      I have some experience in web development, and I'm learning more about software development in general.
    </li>
    <li>
      <strong>Music</strong> : Teenage for <a href="https://music.163.com/#/user/home?id=602691444" target="_blank">JerryMain521's Netease Music</a><br />
      Now for <a href="https://space.bilibili.com/6075139?spm_id_from=333.337.0.0" target="_blank">Animenzzz music</a>, especially his piano covers of anime music. 
    </li>
    <li>
      <strong>Writing</strong> : <em>An amplitude during my senior high, now lost.</em>
    </li>
    <li>
      <strong>Embedded systems</strong> : That's an interesting field but I haven't had to get into it yet. Maybe in the near future.
    </li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'OBS Studio',
        description: 'Video Recording',
        href: 'https://www.obsproject.com/',
        icon: import('@/assets/tools/obsstudio.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Edge',
        description: 'Browser',
        href: 'https://www.microsoft.com/edge',
        icon: import('@/assets/tools/edge.svg?raw')
      },
      {
        name: 'Tex Studio',
        description: 'Note Taking with LaTeX',
        href: 'https://www.texstudio.org/',
        icon: import('@/assets/tools/texstudio.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Visual Studio Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Vim',
        description: 'IDE',
        href: 'https://www.vim.org/',
        icon: import('@/assets/tools/vim.svg?raw')
      },
      {
        name: 'IntelliJ IDEA',
        description: 'IDE',
        href: 'https://www.jetbrains.com/idea/',
        icon: import('@/assets/tools/intellijidea.svg?raw')
      },
      {
        name: 'Android Studio',
        description: 'IDE',
        href: 'https://developer.android.com/studio',
        icon: import('@/assets/tools/androidstudio.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Debian 12',
        description: 'Linux Distribution',
        href: 'https://www.debian.org/',
        icon: import('@/assets/tools/debian.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    You can find me on the following social networks.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/JerryMain521',
        text: 'followers',
        count: 2
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#ff6699',
        link: 'https://space.bilibili.com/2089231483',
        text: 'subscribers',
        count: 51
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561199815322706/',
        text: 'games',
        count: 31
      }
    ]}
  />
  
  
  {/* gossips */}
  {/*
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse>
  */
  }

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2026-04-21',
        content:
          'Cloned repository using <a href="https://github.com/cworld1/astro-theme-pure" target="_blank">astro-theme-pure</a>, and customized it.'
      },
      {
        date: '2026-04-22',
        content:
          'Deployed the website using CloudFlare Pages.'
      }
    ]}
  />
  {/*
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  */}
</PageLayout>
