---
import "../styles/global.css";
---
<a href="/" class="text-sm font-medium transition-colors duration-200 hover:opacity-100 opacity-70" style="color: var(--color-text);">Home</a>
<a href="/about" class="text-sm font-medium transition-colors duration-200 hover:opacity-100 opacity-70" style="color: var(--color-text);">About</a>
<a href="/blog" class="text-sm font-medium transition-colors duration-200 hover:opacity-100 opacity-70" style="color: var(--color-text);">Blog</a>
<a href="/tags" class="text-sm font-medium transition-colors duration-200 hover:opacity-100 opacity-70" style="color: var(--color-text);">Tags</a>
