---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'My Repositories', text: 'My Repositories' },
  { depth: 2, slug: 'Friends Repositories', text: 'Friends Repositories' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <h2 id='My Repositories'>My Repositories</h2>
  <ProjectSection
    projects={[
      {
        name: 'SkyBlock',
        description: 'A Minecraft plugin called SkyBlock',
        links: [
          { type: 'github', href: 'https://github.com/JerryMain521/SkyBlock' },
          { type: 'release', href: 'https://github.com/JerryMain521/SkyBlock/releases'}
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
      ]}
    />
  </Collapse>

  <h2 id='Friends Repositories'>Friends Repositories</h2>
  <ProjectSection
    projects={[
      {
        name: 'ByteString',
        description: 'ByteString\'s personal blog built with Astro',
        links: [{ type: 'github', href: 'https://bytestring.top' }]
      }
    ]}
  />

  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please consider sponsoring me if you like my work. It will be a great encouragement for me to keep going and create more content. Thank you very much!</p>
  
  <strong>Be careful on the account information!!!</strong><br />

  <strong>Be careful on the account information!!!</strong><br />
  
  <strong>Be careful on the account information!!!</strong><br />

  <br />

  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Please leave a message or contact me proactively after sponsorship. My WeChat is:
    <code style='cursor: pointer'
      onclick='const m=atob(this.textContent);alert("WeChat Account: "+m)'
    >SmVycnlNYWluNjY2</code>
    (click to reveal WeChat ID).
  </p>
<p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: '陌伟', platform: 'Wechat', amount: 1, date: '2026-04-28' }
    ]}
  />
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  } 
</style>
